<h1><%= "#{@blogger.name}'s Show Page" %> </h1>


<h2>Total likes on all posts:</h2>
<h3><%= @blogger.total_likes %></h3><br>

<h2>Featured Post:</h2>

<% if @blogger.posts.length == 0 %>
    <p><%= "No Posts Yet"  %></p>
<% else %>
    <%= link_to @most_liked_post.title, post_path(@most_liked_post) %>
<% end %>
    


